.main {
  padding: 30px;
}

.result-list {
  max-width: 100%;
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.video-items {
  margin: 50px 0 0;
}

.video-items:first-child {
  margin: 0;
}

.video-items a {
  display: block;
}

.items-inner {
  display: flex;
  align-items: flex-start;
  font-size: 2rem;
}

.thumbs {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 300px;
  height: 200px;
  flex: 0 0 auto;
}

.thumbs img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.caption {
  flex: 1 1 auto;
  padding: 30px;
  text-align: left;
  word-break: break-all;
}

.caption .title {
  font-size: 1.8rem;
  line-height: 1.2;
}

.caption .description {
  margin: 20px 0 0;
  font-size: 1.4rem;
  line-height: 1.5;
}

/* 모바일 */
@media all and (max-width: 768px) {
  .video-items {
    margin: 25px 0 0;
  }

  .items-inner {
    flex-direction: column;
  }

  .thumbs {
    width: 100%;
    height: 330px;
  }

  .caption {
    padding: 5%;
  }
}