#header {
  padding: 30px;
  background: #2d2e33;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 100%;
  width: 1024px;
  height: 150px;
  margin: 0 auto;
}

.logo {
  width: 200px;
}

.logo a {
  display: block;
}

.logo img {
  max-width: 100%;
  width: 100%;
}

/* 모바일 */
@media all and (max-width: 768px) {
  .header-inner {
    flex-direction: column;
  }

  .logo {
    width: 255px;
  }
}