.video-section {
  max-width: 100%;
  width: 1024px;
  margin: 0 auto;
  padding: 30px;
}

.video-box iframe {
  width: 100%;
  max-width: 100%;
  height: 400px;
}

.video-info {
  padding: 30px 10px 15px;
  border-bottom: 1px dotted #ccc;
}

.video-info .channel-title {
  font-size: 1.6rem;
}

.video-info .title {
  font-size: 1.8rem;
}

.video-info .description {
  margin: 20px 0 0;
  font-size: 1.4rem;
  line-height: 1.5;
}

.video-info .utils-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0 0;
}

.video-info .utils-box > div {
  margin: 0 0 0 30px;
}

.video-info .utils-box > div:first-child {
  margin: 0;
}

.video-info .utils-box .count {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 17px;
  margin: 0 0 0 10px;
}